#            GAZE
#  Turnkey Open Media Centre
#              __        .-.
#          .-"` .`'.    /\\|
#  _(\-/)_" ,  .   ,\  /\\\/     =o O=
# {(=o^O=)} .   ./,  |/\\\/
# `-.(Y).-`  ,  |  , |\.-`
#      /~/,_/~~~\,__.-`   =O o=
#     ////~    // ~\\
#   ==`==`   ==`   ==`
#          monokal.io

server {
    listen {{ gazeproxy_port }};

    {% for service in services %}
    location /{{ service.name }} {
        proxy_pass {{ service.protocol }}://{{ service.name }}:{{ service.port }};

        sub_filter '<head>' '<head><my_stuff>';
        sub_filter_once on;
    }
    {% endfor %}
}